h1 {
  color: rgb(128, 0, 0);
  margin: 2rem;
}

/* .request-container {
  margin-top: -3rem;
} */
.request-details {
  display: flex;
  height: 10rem;
  background-color: rgb(201, 186, 236);
  margin-bottom: 1.5rem;
  padding: 2rem;
  /* padding-left: 4rem; */
}

.list-details {
  display: flex;
  height: 12.7rem;
  background-color: white;
  margin-bottom: 1.5rem;
  padding: 2rem;
  /* padding-left: 4rem; */
}

.request-all-details {
  display: flex;
  flex-direction: row;
  width: 17rem;
}

.req-choose-button {
  display: flex;
  flex-direction: row;
  margin-left: 26rem;
  /* background-color: red; */
}
.req-div-button {
  margin-left: 2rem;
  margin-top: 1rem;
}

.request-all-details p {
  margin-top: 0.5rem;
}

img {
  width: 9rem;
  height: 9rem;
  border-radius: 5rem;
  margin-right: 4rem;
  margin-left: 2rem;
  border: solid 2px rgb(128, 0, 0);
}

.add {
  margin-left: 10rem;
  margin-bottom: 3rem;
  width: 10rem;
}

.request-details-teacher {
  display: flex;
  height: 10rem;
  background-color: rgb(187, 214, 240);
  margin-bottom: 1.5rem;
  padding: 2rem;
  /* padding-left: 4rem; */
}

.button-c {
  background: var(--buttonColour);
  color: white;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 0px;
  margin-left: -1.5rem;
  margin-top: 2rem;
}

.button-c:hover {
  background: var(--fontPrimary);
  color: #fff;
}
